@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Dekko", cursive;
    height: 100vh;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #777777;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222222;
    border-radius: 100vh;
    border: 0px solid #444444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

@layer utilities {
    .small-caps {
        font-variant: small-caps;
    }
}
